[{socketio, [{backlog, 128000},
             {max_connections, 999999}]},
 {rpcio, [{socketio_port_range, {9200, 9210}}]},
 {elog, [{level, info},
         {logger, {elogger_file, [{file, "logs/rpcio.log"}, {size_limit, 2000}, {date_break, false}]}}
        ]},
 {sasl, [{errlog_type, all},
         {sasl_error_logger, {file, "logs/rpcio.sasl.log"}}]}].
